<body style="text-align: center ;">
    <p>display of data from api</p>
    <table *ngFor="let item of data" style="border: 1px solid;">
        <tr>
            <td style="border: 1px solid; font-size: 30px;">
                {{item.userId}}
            </td>
            <td style="border: 1px solid; font-size: 30px;">
                {{item.id}}
            </td>
            <td style="border: 1px solid; font-size: 30px;">
                {{item.title}}
            </td>
        </tr>
    </table>    
</body>
